doctype html
html
    head
        title= $title

    body
        
        ul.active(id='ul-list', data!=$interlaced)
            - foreach ($this->list as $list):
                li!= $list
            - endforeach